<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <title><%= meta.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= meta.description %>" />
    <meta property="og:title" content="Maannousu.info" />
    <meta property="og:url" content="http://maannousu.info/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://maannousu.info/images/favicons/favicon-original.png"
    />
    <meta property="og:description" content="<%= meta.description %>" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="images/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="images/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="images/favicons/site.webmanifest" />
    <link rel="shortcut icon" href="images/favicons/favicon.ico" />
    <link rel="manifest" href="images/favicons/site.webmanifest" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="application-name" content="<%= meta.applicationName %>" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><%= navbar.brand %></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <%= langUppercase %>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/">suomeksi (FI)</a>
                </li>
                <li>
                  <a class="dropdown-item" href="index_sv.html"
                    >på svenska (SV)</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="index_en.html"
                    >in english (EN)</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold text-body-emphasis"><%= hero.heading %></h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"><%= hero.lead %></p>
        <div class="d-grid gap-2 mb-4 d-sm-flex justify-content-sm-center">
          <a href="<%= mapLink %>" class="btn btn-primary btn-lg px-4 gap-3">
            <%= hero.buttonMap %>
          </a>
        </div>
        <p class="lead mb-4"><%= hero.text %></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a
            href="https://muinaismuistot.info/#maannousuEnabled=true"
            target="_blank"
            class="btn btn-primary btn-lg px-4 gap-3"
          >
            <%= hero.buttonMuinaismuistot %>
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="alert alert-warning" role="alert">
        <p><b><%= alert.title %></b></p>
        <p><%= alert.body %></p>
      </div>

      <h2><%= whatIs.title %></h2>
      <p><%= whatIs.text %></p>

      <ul>
        <li><%= whatIs.linkMaanmittauslaitos %></li>
        <li><%= whatIs.linkWikipedia %></li>
      </ul>

      <h2><%= purpose.title %></h2>

      <p><%= purpose.text1 %></p>
      <p><%= purpose.text2 %></p>
      <p><%= purpose.text3 %></p>
      <p><%= purpose.text4 %></p>

      <h2><%= calculationModel.title %></h2>
      <p><%= calculationModel.intro %></p>

      <ul>
        <li><%= calculationModel.linkGlareArticle %></li>
        <li><%= calculationModel.linkGlareDrive %></li>
        <li><%= calculationModel.linkGlareGithub %></li>
      </ul>

      <p><%= calculationModel.versionText %></p>

      <h3><%= calculationModel.statisticsTitle %></h3>
      <canvas id="statisticsChart"></canvas>

      <h3><%= calculationModel.technical.title %></h3>
      <p><%= calculationModel.technical.text %></p>

      <h3><%= calculationModel.limitations.title %></h3>
      <p><%= calculationModel.limitations.text1 %></p>

      <h4><%= calculationModel.limitations.changes.title %></h4>
      <p><%= calculationModel.limitations.changes.text1 %></p>
      <p><%= calculationModel.limitations.changes.text2 %></p>

      <h2><%= sourceDataAndLicence.title %></h2>
      <p><%= sourceDataAndLicence.intro %></p>

      <ul>
        <li><%= sourceDataAndLicence.linkGlareDrive %></li>
        <li><%= sourceDataAndLicence.linkMML %></li>
      </ul>

      <p><%= sourceDataAndLicence.finalLicence %></p>
      <p><%= sourceDataAndLicence.mapMMLIntro %></p>

      <ul>
        <li><%= sourceDataAndLicence.mmlBackgroundMap %></li>
        <li><%= sourceDataAndLicence.mmlTopographicMap %></li>
        <li><%= sourceDataAndLicence.mmlOrthophoto %></li>
      </ul>

      <p><%= sourceDataAndLicence.mmlMapLicence %></p>

      <h2><%= contact.title %></h2>
      <p><%= contact.text %></p>

      <h2><%= sourceCode.title %></h2>
      <p><%= sourceCode.text %></p>

      <h2><%= api.title %></h2>
      <p><%= api.text %></p>

      <h3><%= api.fileFormat.title %></h3>
      <p><%= api.fileFormat.text1 %></p>
      <p><%= api.fileFormat.text2 %></p>

      <h3><%= api.geoTiffContent.title %></h3>

      <h4><%= api.geoTiffContent.landUplift.title %></h4>
      <p><%= api.geoTiffContent.landUplift.text1 %></p>

      <ul>
        <li><%= api.geoTiffContent.landUplift.valueLand %></li>
        <li><%= api.geoTiffContent.landUplift.valueSea %></li>
        <li><%= api.geoTiffContent.landUplift.valueIce %></li>
        <li><%= api.geoTiffContent.landUplift.valueUnknown %></li>
      </ul>

      <p><%= api.geoTiffContent.landUplift.text2 %></p>

      <h4><%= api.geoTiffContent.glacier.title %></h4>
      <p><%= api.geoTiffContent.glacier.text1 %></p>

      <ul>
        <li><%= api.geoTiffContent.glacier.valueIceMelted %></li>
        <li><%= api.geoTiffContent.glacier.valueIce %></li>
        <li><%= api.geoTiffContent.glacier.valueUnknown %></li>
      </ul>

      <h3><%= api.projection.title %></h3>
      <p><%= api.projection.text %></p>

      <h3><%= api.api.title %></h3>
      <p><%= api.api.textOpenAPI %></p>
      <p><%= api.api.textYear %></p>

      <p><%= api.api.textYearApi %></p>

      <ul>
        <li><%= api.api.linkLandUpliftApi %></li>
        <li><%= api.api.linkGlacierApi %></li>
      </ul>

      <p><%= api.api.textRangeAndDownload %></p>
      <p><%= api.api.textFilesize %></p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col"><%= api.api.tableColYear %></th>
            <th scope="col"><%= api.api.tableColLandUpliftApi %></th>
            <th scope="col"><%= api.api.tableColGlacierApi %></th>
          </tr>
        </thead>
        <tbody id="apiTableYearsTBody"></tbody>
      </table>

      <h3><%= api.cors.title %></h3>
      <p><%= api.cors.text %></p>

      <p>
        <code>
          "Access-Control-Allow-Origin": "*"<br />
          "Access-Control-Allow-Methods": "GET", "HEAD", "OPTIONS"<br />
          "Access-Control-Max-Age": "86400"
        </code>
      </p>

      <h3><%= api.cache.title %></h3>
      <p><%= api.cache.text %></p>

      <h3><%= api.integrationExample.title %></h3>

      <h4><%= api.integrationExample.openLayers.title %></h4>
      <p><%= api.integrationExample.openLayers.intro %></p>

      <pre class="bg-light p-3 rounded"><code>
        import WebGLTileLayer from "ol/layer/WebGLTile";
        import { GeoTIFF } from "ol/source";

        const colorLand = [0, 0, 0, 0]; // Invisible
        const colorSea = [201, 236, 250, 1]; // National Land Survey of Finland background map sea color
        const colorIce = [255, 255, 255, 1]; // White
        const noData = [0, 0, 0, 0]; // Invisible
        const style = {
          color: [
            "case",
            ["==", ["band", 1], 0], // Value 0 = land
            colorLand,
            ["==", ["band", 1], 1], // Value 1 = sea
            colorSea,
            ["==", ["band", 1], 2], // Value 2 = Glacial ice
            colorIce,
            noData, // Fallback
          ],
        };

        const source = new GeoTIFF({
          sources: [
            {
              url: `https://maannousu.info/api/v2/-6000`,
              bands: [1],
            },
          ],
          convertToRGB: false,
          normalize: false,
        });

        const layer = new WebGLTileLayer({
          source,
          style,
        });
      </code></pre>

      <p><%= api.integrationExample.openLayers.textLinkToSource %></p>

      <ul>
        <li><%= api.integrationExample.openLayers.linkSourceMap %></li>
        <li><%= api.integrationExample.openLayers.linkSourceLayer %></li>
      </ul>
    </div>
  </body>
</html>
